/* HTML: <div class="loader"></div> */
.loader {
  /* width: 50px; */
  aspect-ratio: 1;
  border-radius: 100%;
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
